<div class="card shadow" style="">
  <img class="card-img-top" src="images/admin/profile.png" alt="User Profile">
  <div class="card-body">
    <h5 class="card-title">Andre Meow</h5>
    <p class="card-text">Dreamer, adventurer, philosopher, artist, dancer, composer, bodybuilder, poet, writer, businessman, philanthropist.</p>
    <p class="card-text">Development Path (1988 - present): C64 BASIC &raquo; VB &raquo; Bash &raquo; ASP &raquo; Perl &raquo; C &raquo; PHP &raquo; JS &raquo; AS &raquo; Java &raquo; ES7.</p>
  </div>
</div>
