<div class="row rounded shadow-lg bg-dark p-3 mt-3">
  <div class="col">
    <div class="card-columns">
      {{#each cards}}
        {{{.}}}
      {{/each}}
    </div>
  </div>
</div>

<div class="row rounded shadow-lg bg-dark p-3 mt-3">
  <div class="col text-center">
    <a href="?startAt={{returnTo}}" class="btn btn-secondary btn-sm px-3 py-2">&laquo;</a>
    <span class="p-3"></span>
    <a href="?startAt={{nextAt}}" class="btn btn-primary btn-lg">next</a>
  </div>
</div>
