html, body {
  min-height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: linear-gradient(135deg, #f1efff 0%,#c8c3ff 50%,#a39bff 50%,#e6e3ff 100%);
}

a {
  color: #00B7FF;
}
