<div class="card shadow" style="">
  <img class="card-img-top" src="images/admin/favorite-photo.jpg" alt="Favorite Nordhouse Photo">
  <div class="card-body">
    <h5 class="card-title">Nordhouse Dunes</h5>
    <p class="card-text">6:00 AM, the sun was still coming up from behind the ancient dunes.</p>
    <p class="card-text">Nordhouse Dunes, June 5, 2010</p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <a href="#" class="btn btn-primary"><i class="fa fa-search"></i></a>
    <a href="#" class="btn btn-danger"><i class="fa fa-heart"></i></a>
  </div>
</div>
