<div class="card bg-dark shadow" style="">
  <div class="card-body">
    <a class="btn btn-sm btn-primary m-1" href="https://creativemarket.com/fantasyui.com/" target="_blank"> <i class="fa fa-fw fa-tag"></i> Creative Market</a>
    <a class="btn btn-sm btn-primary m-1" href="https://fantasyui-com.selz.com/" target="_blank"> <i class="fa fa-fw fa-shopping-cart"></i> Selz</a>
    <a class="btn btn-sm btn-primary m-1" href="https://github.com/fantasyui-com" target="_blank"> <i class="fab fa-fw fa-github"></i> github</a>
    <a class="btn btn-sm btn-primary m-1" href="https://www.behance.net/fantasyui-com" target="_blank"> <i class="fab fa-fw fa-behance"></i> Behance</a>
    <a class="btn btn-sm btn-primary m-1" href="https://twitter.com/fantasyui_com" target="_blank"> <i class="fab fa-fw fa-twitter"></i> Twitter</a>
    <a class="btn btn-sm btn-primary m-1" href="https://www.pinterest.com/fantasyuicom" target="_blank"> <i class="fab fa-fw fa-pinterest"></i> Pinterest</a>
    <a class="btn btn-sm btn-primary m-1" href="https://www.instagram.com/fantasyui_com" target="_blank"> <i class="fab fa-fw fa-instagram"></i> Instagram</a>
    <a class="btn btn-sm btn-primary m-1" href="https://fantasyui-com.deviantart.com" target="_blank"> <i class="fab fa-fw fa-deviantart"></i> Deviantart</a>
    <a class="btn btn-sm btn-primary m-1" href="https://dribbble.com/fantasyui-com" target="_blank"> <i class="fab fa-fw fa-dribbble"></i> dribbble</a>
    <a class="btn btn-sm btn-primary m-1" href="http://linkedin.com/in/fantasyui-com" target="_blank"> <i class="fab fa-fw fa-linkedin"></i> linkedIn</a>
    <a class="btn btn-sm btn-primary m-1" href="https://www.reddit.com/user/fantasyui-com" target="_blank"> <i class="fab fa-fw fa-reddit"></i> reddit</a>
    <a class="btn btn-sm btn-primary m-1" href="http://fantasyui.com/" target=""> <i class="fa fa-fw fa-battery-full"></i> FantasyUI.com</a>
  </div>
</div>
