<div class="card shadow" style="">
  <div class="card-body">
    <p class="card-text">
      <blockquote class="blockquote text-right">
        <p class="mb-0 small">It is not possession of the land, but of the landscape, that enjoys &mdash; It is not the clearing but the unfenced wilderness that is the camper's real home.</p>
        <footer class="blockquote-footer"><span class="small">Horace Kephart in <cite title="Camping and Woodcraft">Camping and Woodcraft</cite></span></footer>
      </blockquote>
    </p>
    <p class="card-text">Your thoroughbred camper likes not the attentions of a landlord, nor will he suffer himself to be rooted to the soil by cares of ownership or lease. It is not possession of the land, but of the landscape, that enjoys; and as for that, all the wild parts of the earth are his, by a title that carries with it no obligation but that he shall not desecrate nor lay them waste.</p>
    <p class="card-text">Houses, to such a one, in summer are little better than cages; fences and walls are his abomination; plowed fields are only so many patches of torn and tormented earth. The sleek comeliness of pasture it too prim and artificial, domestic cattle have a meek and ignoble bearing, fields of grain are monotonous to his eyes, which turn for relief to abandoned old-field, overgrown with thicket, that still harbors some the shy children of the wild. It is not the clearing but the unfenced wilderness that is the camper's real home.</p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <a href="https://en.wikipedia.org/wiki/Horace_Kephart" class="btn btn-primary"><i class="fa fa-eye"></i></a>
    <a href="#" class="btn btn-danger"><i class="fa fa-heart"></i></a>
  </div>
</div>
